# Enable URL rewriting
RewriteEngine On

# Hide .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# Allow access to specific directories
<IfModule mod_authz_core.c>
    Require all granted
</IfModule>

<IfModule !mod_authz_core.c>
    Order Allow,Deny
    Allow from all
</IfModule>

# Specify MIME types for CSS files
AddType text/css .css

# Optional: Disable directory listing
Options -Indexes

# Set Permissions-Policy header
Header set Permissions-Policy "geolocation 'self' https://example.com; microphone 'none'"

# Set Referrer-Policy header
Header set Referrer-Policy "strict-origin-when-cross-origin"

# Set X-Frame-Options to SAMEORIGIN to prevent clickjacking
Header set X-Frame-Options "SAMEORIGIN"

# Set HTTP Strict-Transport-Security (HSTS) header
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
